files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/03_mute_sidekiq.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      set -xe
      
      # Pull all required AWS Elastic Beanstalk variables
      EB_APP_DEPLOY_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_deploy_dir)
      EB_APP_PID_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_pid_dir)
      EB_APP_USER=$(/opt/elasticbeanstalk/bin/get-config container -k app_user)
      EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)
      EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)
      
      # Pull all ENV variables
      . $EB_SUPPORT_DIR/envvars-wrapper.sh
      
      # Use proper version of Ruby
      . $EB_SCRIPT_DIR/use-app-ruby.sh
      
      # Sidekiq PID file location
      SIDEKIQ_PID=$EB_APP_PID_DIR/sidekiq.pid
      
      # Navigate to app staging folder (temporary folder where app files are located during deployment)
      cd $EB_APP_DEPLOY_DIR
      
      echo "Before Muting Sidekiq"
      
      if [ -f $SIDEKIQ_PID ]
      then
        if ps -p `cat $SIDEKIQ_PID` > /dev/null;
        then
          echo "Muting Sidekiq..."
          su -s /bin/bash -c "kill -TSTP `cat $SIDEKIQ_PID`" $EB_APP_USER
        fi
      fi
      
  "/opt/elasticbeanstalk/hooks/appdeploy/post/50_restart_sidekiq.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      set -xe
      
      # Pull all required AWS Elastic Beanstalk variables
      EB_APP_DEPLOY_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_deploy_dir)
      EB_APP_PID_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_pid_dir)
      EB_APP_USER=$(/opt/elasticbeanstalk/bin/get-config container -k app_user)
      EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)
      EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)
      
      # Pull all ENV variables
      . $EB_SUPPORT_DIR/envvars-wrapper.sh
      
      # Use proper version of Ruby
      . $EB_SCRIPT_DIR/use-app-ruby.sh
      
      # Variables for Sidekiq
      SIDEKIQ_PID=$EB_APP_PID_DIR/sidekiq.pid
      SIDEKIQ_CONFIG=$EB_APP_DEPLOY_DIR/config/sidekiq.yml
      SIDEKIQ_LOG=$EB_APP_DEPLOY_DIR/log/sidekiq.log
      
      # Navigate to app staging folder (temporary folder where app files are located during deployment)
      cd $EB_APP_DEPLOY_DIR
      
      # Kill Sidekiq
      if [ -f $SIDEKIQ_PID ]
      then
        if ps -p `cat $SIDEKIQ_PID` > /dev/null;
        then
          echo "Killing Sidekiq..."
          su -s /bin/bash -c "kill -TERM `cat $SIDEKIQ_PID`" $EB_APP_USER
          echo "Stopped Sidekiq."
        fi
      fi
      
      echo "Removing Sidekiq's PID file..."
      su -s /bin/bash -c "rm -f $SIDEKIQ_PID" $EB_APP_USER
      
      if [ -n "$WORKERS" ]; then
        echo "++++ WORKER ++++"
        
        # Wait 3 seconds
        sleep 3
        
        echo "Starting Sidekiq..."
        su -s /bin/bash -c "bundle exec sidekiq \
          -e $RACK_ENV \
          -P $SIDEKIQ_PID \
          -C $SIDEKIQ_CONFIG \
          -L $SIDEKIQ_LOG \
          -d" $EB_APP_USER
          
        echo "Started Sidekiq."
      else
        echo "++++ NOT WORKER ++++"
      fi
